* {
	font-family: Arial, Verdana, sans-serif;
	color: #616161;
	text-align: center;
}

body{
	width: 1100px;
	margin: 0 auto;
	background-color: #f5f2f9;
}

header {
	background-color: #f5f2f9;
}
nav {
	background-color: #dcd4e4;
	padding: 10px;
	margin: 20px;
}

nav li {
	background-color: #dcd4e4;
	display: inline;
	padding: 5px 30px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #f5f2f9;
	padding: 10px;
	margin: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

article {
	background-color: #dcd4e4;
	padding: 10px;
	margin: 20px;
}

articles {
	background-color: #dcd4e4;
	padding: 10px;
	margin: 20px;
	width: 490px;
	float: left;
}

articles li {
	text-align: left;
	margin-left: 170px;
}

footer {
	padding: 10px;
	margin: 20px;
}

